body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

#style-selector {
	position : absolute ;
	right : 0px;
	top : 0px;
}

#style-selector button {
	display : block;
	margin-top : 5px;
	width : 60px;
	padding : 4px 0px;
	border-radius : 20px;
	border : 1px solid #555;
	background-color : #fff;
	font-size : 1em;
	opacity : 0.8;
}
#style-selector button:hover {
	opacity : 1;
}
#style-selector button.selected {
	color : #fff;
	background-color : #777;
	font-weight : bold;
	border : 2px solid #ccc;
}


#canvas-ascii {
	margin : auto;
	font-family : "Courier New", Courier, monospace;
	line-height : 16px;
	font-size : 26px;
	border : 1px solid #555;
	overflow : hidden;
}

.action-icon {
	position : absolute;
	display : block;
	width : 64px;
	height : 64px;
	background-repeat : no-repeat;
	bottom : 5px;
	display : block;
	background-position : 50% 50%;
	cursor : pointer;
}
.action-icon:hover { padding-top : 4px; padding-left : 4px; }
#view_prev {
	right : 240px;
	background-image: url( '../img/view_prev.png' );
}
#view_next {
	right : 175px;
	background-image: url( '../img/view_next.png' );
}
#pause {
	right : 115px;
	background-image: url( '../img/pause.png' );
}
#reload {
	right : 65px;
	background-image: url( '../img/reload.png' );
}
#fullscreen {
	right : 5px;
	background-image: url( '../img/fullscreen.png' );
}

bl0 { color : #0FF; }
bl1 { color : #00F; }
bl2 { color : #F90; }
bl3 { color : #FF0; }
bl4 { color : #F00; }
bl5 { color : #C0F; }
bl6 { color : #0F0; }

#infos {
	font-family : "Courier New", Courier, monospace;
	margin : auto;
	text-align : center;
	color : #ccc;
	font-size : 12px;
	overflow:hidden;
	height : 18px;
}